<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->



<ul class="nav nav-sidebar">
	<li ng-class="{active:toolbar.isSelected(1)}">
		<a href ng-click="toolbar.selectTab(1)">Registrar Pedido </a>
	</li>
	<li ng-class="{active:toolbar.isSelected(2)}">
		<a href ng-click="toolbar.selectTab(2)" >Registrar Entrega Pedido</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(3)}">
		<a href ng-click="toolbar.selectTab(3)">Consultar Productos</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(4)}">
		<a href ng-click="toolbar.selectTab(4)">Consultar Materias Primas</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(5)}">
		<a href ng-click="toolbar.selectTab(5)">Consultar Componentes</a>
	</li>
</ul>
