<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<form name="registrarPedidoForm" ng-submit="registrarPedidoForm.$valid && registrarPedidoCtrl.addPedido(this.registrarPedidoCtrl.pedido)" validate>
    
    <h2 class="form-title" >Registrar Pedido</h2>
    <div class="row" style="margin-top:50px">
        <div class="col-md-4">
            <label>Producto:</label>
            <input ng-model="this.registrarPedidoCtrl.pedido.nombre" type="text" class="form-control" required/>
        </div>
        <div class="col-md-4">
            <label>Id Cliente:</label>
            <input ng-model="this.registrarPedidoCtrl.pedido.id_cliente" type="number" class="form-control" required/>
        </div>
        <div class="col-md-4">
            <label>Cantidad:</label>
            <input ng-model="this.registrarPedidoCtrl.pedido.cantidad" type="number" class="form-control" required/>
        </div>
        <div class="col-md-4">
            <label>Fecha Esperada de Entrega:</label>
            <input ng-model="this.registrarPedidoCtrl.pedido.fechaEsperada" type="date" class="form-control" required/>
        </div>
       
        <div class="col-md-8" align="center" style="margin-top:50px">
            <input type="submit" value="Registrar" class="btn btn-info">
        </div>

    </div>


</form>
